extends layout-dark

block content

  div(style="background-color:#fff;margin-top:-100px;height:100px")
    p &nbsp;
  
  div(class="section")
    div(style="text-align:center;padding:100px 0 100px 0;background-color:#fff;")
      img(src="/images/not-found.jpg" style="width: 50%;margin-bottom: 15px;")
      h3 Page not found
      p The requested URL was not found on this server. That’s all we know.
    