extends layout-dark

block content

  div(style="background-color:#fff;margin-top:-100px;height:100px")
    p &nbsp;
  
  div(class="about-container section")
    div(class="about-top")
      h3 Meet Nusanet
      p Our Vission is to be a leading Internet Solution Provider<br/>that have branches in every Province of Indonesia.
    
    div(class="about-mid")
      div(class="row")
        div(class="col-md-6")
        div(class="col-md-5 hide-mobile")
          h4 Our Company
          p Established since 1996 as a web hosting and design company, Nusanet is now an ISP company licensed nationally from Dirjen Postel/Post and Telecommunication General Director and is the first to grow from outside of Java island.
          br
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.188667700154!2d106.82192231476932!3d-6.238846695483953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f3dde4636dcb%3A0x65112a3dd821ce0b!2sNusaNet!5e0!3m2!1sen!2sid!4v1520515086516", width="600", height="350", frameborder="0", style="border:0", allowfullscreen="allowfullscreen")