extends layout

block content
  div(class="company row", id="company")
    div(class="col-md-6 company-image d-none d-md-block")
    div(class="col-md-6 company-info")
      h2 Our Company
      p Established since 1996 as a web hosting and design company, Nusanet is now an ISP company licensed nationally from Dirjen Postel/Post and Telecommunication General Director and is the first to grow from outside of Java island. Nusanet have branches in Medan, Pekanbaru, Lampung, Jakarta, Bandung, Surabaya, Bali for serving dedicated and broadband Internet access.
      br
      br
      iframe(class="hide-mobile", src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.6548014034943!2d101.44927719899933!3d0.5187362337657465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31d5ac1c41c17381%3A0x6cb10b62e88eabcd!2sNUSANET+Internet+Solution+Provider!5e0!3m2!1sen!2sid!4v1519299429862", width="600", height="350", frameborder="0", style="border:0", allowfullscreen="allowfullscreen")
      
      