extends layout-dark

block content

    div(style="background-color:#fff;margin-top:-100px;height:100px")
  
    main
        div(class="main-header broadband-fiber-header")
            div(class="row" style="margin-right: -2px;")
                div(class="col-12 col-md-6 broadband-fiber-header-des")
                    h2 Broadband Wireless
                    p Broadband Wireless is technology that provides high-speed wireless Internet access or computer networking access over a wide area.
                div(class="col-12 col-md-6 p-0 broadband-fiber-header-img" style="background-image:url(/images/bg-broadband-wireless.png) !important;")
            
        div(class="main-content broadband-fiber-content p-0")          
            div(class="broadband-fiber-package")
                div(class="container text-center")
                    div(class="main-des")
                        h3(style="color:#333;font-family:inherit;font-weight:300;") Broadband Wireless Plans
                            div(class="main-card")
                                div(class="row")
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Gold
                                                div(class="card-body-content")
                                                    span(class="bw-text") 5 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-wireless/registration/Gold") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p Unlimited Quota
                                                                p Download up to 5 Mbps
                                                                p Upload up to 5 Mbps
                                                                p Free 1 IP Public Static
                                                                p MRTG Monitor Tool
                                                                p 24/7 Helpdesk Support
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Platinum
                                                div(class="card-body-content")
                                                    span(class="bw-text") 7 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-wireless/registration/Platinum") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p Unlimited Quota
                                                                p Download up to 7 Mbps
                                                                p Upload up to 7 Mbps
                                                                p Free 1 IP Public Static
                                                                p MRTG Monitor Tool
                                                                p 24/7 Helpdesk Support
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Diamond
                                                  div(class="card-body-content")
                                                      span(class="bw-text") 10 Mbps
                                                          div(class="nusanet-card-2-button text-center")
                                                              a(class="nusa-button hoverable", id="link1", href="/broadband-wireless/registration/Diamond") ORDER NOW
                                                              div(class="nusanet-card-2-item text-center")
                                                                p Unlimited Quota
                                                                p Download up to 10 Mbps
                                                                p Upload up to 10 Mbps
                                                                p Free 1 IP Public Static
                                                                p MRTG Monitor Tool
                                                                p 24/7 Helpdesk Support
                                                          
                                    
                                        
        div(class="main-content broadband-fiber-content p-0")                        
            div(class="nusanet-newsletter-wrapper")
                div(class="row align-items-center nusanet-newsletter")
                    div(class="col-12 col-sm-6")
                        div(class="row align-items-center")
                            div(class="col-md-3")
                                img(src="/images/newsletter-image2.png" width="100px")
                                
                            div(class="col-12 col-md-9 newsletter-tagline")
                                h5 Stay informed
                                p(style="opacity:0.6") Get the latest news and special promotion from Nusanet
                                
                    div(class="col-12 col-sm-6 text-center")
                        form(method="post")
                            div(class="row m-0")
                                div(class="col-12 col-lg-8 p-0")
                                    input(type="email", class="nusanet-subscribe-form", id="email", name="email", placeholder="Email", style="width:100% !important;")
                                
                                div(class="col-12 col-lg-4 p-0")
                                    input(type="submit", id="submit", name="submit", class="nusa-button-blue nusanet-subscribe-button hoverable", value="SUBSCRIBE", style="width:100% !important;")