extends layout-dark

block content

    div(style="background-color:#fff;margin-top:-100px;height:100px")
  
    main
        div(class="main-header broadband-fiber-header")
            div(class="row" style="margin-right: -2px;")
                div(class="col-12 col-md-6 broadband-fiber-header-des")
                    h2 Broadband Fiber Optic
                    p Broadband Fiber Optic is true fiber broadband. Not only does Broadband FO ensure you get the speed you pay for, but it stays reliably fast – even during peak times.
                div(class="col-12 col-md-6 p-0 broadband-fiber-header-img")
                    
        div(class="main-content broadband-fiber-content")
            div(class="broadband-fiber-features hide-mobile")
                div(class="container text-center")
                    div(class="row container")
                        div(class="col-4")
                            img(src="/images/faster-internet.png")
                            h4 Faster Internet
                            p With up to 1,000 Mbps upload and download speeds, you’ll have all the bandwidth you need and then some. Download in seconds and stream video in 4K HD on multiple devices.*
                          
                        div(class="col-4")
                            img(src="/images/business-grade.png")
                            h4 Business Grade
                            p Use as much Internet as you want, whenever you want - there are no data caps. And we don’t like surprises either, so we don’t do annual service contracts or installation fees.
                         
                        div(class="col-4")
                            img(src="/images/support.png")
                            h4 24/7 Support
                            p We care. From our friendly, knowledgeable staff to exact-time service appointments, you’ll always enjoy our award winning customer service when you need it.
        
        div(class="main-content broadband-fiber-content p-0")          
            div(class="broadband-fiber-package")
                div(class="container text-center")
                    div(class="main-des")
                        h3(style="color:#333;font-family:inherit;font-weight:300;") Broadband Fiber Plans
                            div(class="main-card")
                                div(class="row")
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Basic
                                                div(class="card-body-content")
                                                    span(class="bw-text") 10 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/basic") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 9.780.000,-/year
                                                                p IP Local
                                                                p Less than or equal to 5 users
                                                                p Installation fee IDR 1.500.000,-
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Start Up 1
                                                div(class="card-body-content")
                                                    span(class="bw-text") 15 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Start Up 1") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 11.480.000,-/year
                                                                p IP Local
                                                                p Less than or equal to 10 users
                                                                p Installation fee IDR 1.500.000,-
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Start Up 2
                                                  div(class="card-body-content")
                                                      span(class="bw-text") 30 Mbps
                                                          div(class="nusanet-card-2-button text-center")
                                                              a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Start Up 2") ORDER NOW
                                                              div(class="nusanet-card-2-item text-center")
                                                                  p(class="bold-text") IDR 13.880.000,-/year
                                                                  p IP Local
                                                                  p Less than or equal to 20 users
                                                                  p Installation fee IDR 1.500.000,-
                                                          
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Start Up 3
                                                div(class="card-body-content")
                                                    span(class="bw-text") 50 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Start Up 3") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 24.800.000,-/year
                                                                p IP Local
                                                                p Less than or equal to 30 users
                                                                p Installation fee IDR 1.500.000,-
                                                    
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Fast 1
                                                div(class="card-body-content")
                                                    span(class="bw-text") 100 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Fast 1") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 31.400.000,-/year
                                                                p IP Public
                                                                p 11 to 100 users
                                                                p Installation fee IDR 2.000.000,-
                                                      
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Fast 2
                                                div(class="card-body-content")
                                                    span(class="bw-text") 200 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Fast 2") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 50.600.000,-/year
                                                                p IP Public
                                                                p 51 to 150 users
                                                                p Installation fee IDR 2.000.000,-
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Fast 3
                                                div(class="card-body-content")
                                                    span(class="bw-text") 300 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Fast 3") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 66.700.000,-/year
                                                                p IP Public
                                                                p 51 to 250 users
                                                                p Installation fee IDR 2.000.000,-
                                                    
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Turbo 500
                                                div(class="card-body-content")
                                                    span(class="bw-text") 500 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Turbo 500") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 96.800.000,-/year
                                                                p IP Public
                                                                p 101 to 500 users
                                                                p Installation fee IDR 2.000.000,-
                                                  
                                    div(class="col-12 col-sm-6 col-lg-4")
                                        div(class="card ")
                                            div(class="card-body")
                                                h4 Turbo 1000
                                                div(class="card-body-content")
                                                    span(class="bw-text") 1000 Mbps
                                                        div(class="nusanet-card-2-button text-center")
                                                            a(class="nusa-button hoverable", id="link1", href="/broadband-fiber-optic/registration/Turbo 1000") ORDER NOW
                                                            div(class="nusanet-card-2-item text-center")
                                                                p(class="bold-text") IDR 160.880.000,-/year
                                                                p IP Public
                                                                p 101 to 1000 users
                                                                p Installation fee IDR 2.000.000,-
                                        
        div(class="main-content broadband-fiber-content p-0")                        
            div(class="nusanet-newsletter-wrapper")
                div(class="row align-items-center nusanet-newsletter")
                    div(class="col-12 col-sm-6")
                        div(class="row align-items-center")
                            div(class="col-md-3")
                                img(src="/images/newsletter-image2.png" width="100px")
                                
                            div(class="col-12 col-md-9 newsletter-tagline")
                                h5 Stay informed
                                p(style="opacity:0.6") Get the latest news and special promotion from Nusanet
                                
                    div(class="col-12 col-sm-6 text-center")
                        form(method="post")
                            div(class="row m-0")
                                div(class="col-12 col-lg-8 p-0")
                                    input(type="email", class="nusanet-subscribe-form", id="email", name="email", placeholder="Email", style="width:100% !important;")
                                
                                div(class="col-12 col-lg-4 p-0")
                                    input(type="submit", id="submit", name="submit", class="nusa-button-blue nusanet-subscribe-button hoverable", value="SUBSCRIBE", style="width:100% !important;")