extends layout-dark

block content

  div(style="background-color:#fff;margin-top:-100px;height:100px")
    
  
  main
    div(class="main-header career-header")
        div(class="row")
            div(class="col-12 text-center")
                h1 &nbsp
                
    div(class="main-content career-content m-0")
        div(class="container")
            div(class="content-des text-center")
                h1 Careers at Nusanet
                p PT. Media Andalan Nusa (Nusanet) is a company engaged in telecommunication. With more than 15 years of experience in the field of telecommunications, nusanet has now grown rapidly into one of the major telecommunications companies.
    
    div(class="main-content career-content grey-background")
        div(class="nusa-container")
            div(class="row career-photo")
                div(class="col-4")
                    img(src="/images/foto2.jpg", style="width:100%;")
                div(class="col-4")
                    img(src="/images/foto8.jpg", style="width:100%;")
                div(class="col-4")
                    img(src="/images/foto3.jpg", style="width:100%;")
                    
    div(class="main-content career-content")
        div(class="container")
            div(class="content-des text-center")
                h1 Why Join Us ?
                p This is a good time for you to join our Team because we are looking for the best people to provide quality service with the latest technology to the customers.
                
    div(class="career-benefits")
        div(class="row")
            div(class="col-12 career-reasons")
                div(class="content-des")
                    h5 5 Reasons to Join Our Team :
                    ul
                        li Success, always grow and develop by applying the latest technology for customer satisfaction.
                        li Experience, more than 15 years of providing quality services with continuous learning.
                        li Careers, encourage our best people to move to management and equip our managers to keep moving up.
                        li Our location, our strategic location is easy to reach and close to the community.
                        li Rewards and benefits, we offer attractive salaries, bonuses and other benefits such as inpatient insurance, life and accident insurance and out-patient reimbursement.
            
            div(class="col-12 col-lg-6")
                
            
    div(class="main-content career-content")
        div(class="container")
            div(class="content-des text-center")
                h1 Current Openings
                p We invite you to join us.
                
                nav(class="text-left career-nav")
                    div(class="nav" id="nav-tab" role="tablist")
                        a(class="nav-item nav-career-link active" id="nav-pa-tab" data-toggle="tab" href="#nav-pa" role="tab" aria-controls="nav-pa" aria-selected="true") Personal Assistant
                        a(class="nav-item nav-career-link" id="nav-am-tab" data-toggle="tab" href="#nav-am" role="tab" aria-controls="nav-am" aria-selected="false") Account Manager
                        a(class="nav-item nav-career-link" id="nav-ne-tab" data-toggle="tab" href="#nav-ne" role="tab" aria-controls="nav-ne" aria-selected="false") Network Engineer
                  
                    div(class="row")
                        div(class="col-12 col-lg-8")
                            div(class="tab-content career-tab" id="nav-tabContent")
                                div(class="tab-pane fade show active" id="nav-pa" role="tabpanel" aria-labelledby="nav-pa-tab")
                                    h6 Responsibilities :
                            
                                    ul
                                        li Arrange of the daily, weekly and monthly agenda of the directors schedule
                                        li Make report of the Director’s meeting
                                        li Coordination with all departement related with Director signing
                                        li Responsible for making, ensuring and arranging appointments and meetings effectively & organized.
                                        li Responsible for communication and correspondence
                                        li Responsible for Director administrative efficiently
                                        li Represent of Director in meeting, seminar or other necessities and then report and also presented to Directors
                                        
                                    h6 Qualifications :
                                    
                                    ul
                                        li Female, age maximum 28 Years old
                                        li Single and attractive
                                        li Master degree in Management or Marketing Communications
                                        li Able to make presentation material and presented with interesting
                                        li Good interpersonal, communication and negotiation skills
                                        li Like challenges, insightful, skillful, honest, resilient, and multitasking
                                        li Able to write and speak in english language.
                                        li Able to do of secretarial duties and arrangement of transport and accommodation Director’s
                            
                                div(class="tab-pane fade" id="nav-am" role="tabpanel" aria-labelledby="nav-am-tab")
                                    h6 Responsibilities :
                                    
                                    ul
                                        li Search for new prospects & customers
                                        li Canvasing
                                        li Get the sales target that set by the company
                                        li Do a predefined Planning from supervisor
                                        li Serving new customer needs
                                        li Provide a sales report and report it to supervisor
                                        li Deliver the first Invoice, BAP and Contracts to new customers and ensure customers make payments on time
                                        
                                    h6 Qualifications :
                                    
                                    ul
                                        li D3 Degree in technical information or related majors
                                        li Attractive, insightfull and like challenges
                                        li Experience in offer or sell products and services
                                        li Experience to make presentation material and presented with interesting
                                        li Good interpersonal and negotiation skills
                                        li Have Own Vehicle
                                        li Able to write and speak in english (Minimum passive)
                                        li Willing to be placed in Jakarta, Bandung, and Pekanbaru

                                div(class="tab-pane fade" id="nav-ne" role="tabpanel" aria-labelledby="nav-ne-tab")
                                    h6 Responsibilities :
                                    
                                    ul
                                        li Collaborate with other team members and groups to identify and develop scalable network designs, solutions, and policy recommendations.
                                        li Ensure continued optimized operation of the global network infrastructure.
                                        li Support Nusanet’s internal application groups by identifying and presenting their network-impacting requirements to the rest of the Network Engineering team.
                                        li Support and lead implementation of Nusanet’s network infrastructure.
                                        li Provide support and solve complex networking issues.
                                        
                                    h6 Minimum Qualifications :
                                    
                                    ul
                                        li 2 years of experience with networking technologies.
                                        li Operational experience with enterprise/carrier-class routers and switches.
                                        li Experience automating network or system operations through scripting or coding.
                                        li Experience in TCP/IP fundamentals and routing protocols (OSPF, BGP, IS-IS, MPLS).
                                        li Experience with Unix/Linux administration and with scripting/coding.
                                        
                                    h6 Preferred Qualifications :
                                    
                                    ul
                                        li Bachelor’s degree in Network Engineering, Computer Science or related program.
                                        li Network certifications (CCNP or JNCIP) or equivalent practical experience.
                                        li 5 years of experience in a Network Engineer/Architecture position with an Internet service provider or enterprise-level network.

                        div(class="col-12 col-lg-4")
                            div(class="row career-form grey-background")
                                form(class="col-12 p-0" method='post' action='/careers' encType="multipart/form-data" )
                                    div(class="col-12 form-group")
                                        input#name(class="nusanet-form" type="text" name="name" placeholder="Name")
                                    
                                    div(class="col-12 form-group")
                                        input#phone(class="nusanet-form" type="phone" name="phone" placeholder="Phone")
                                  
                                    div(class="col-12 form-group")
                                        input#email(class="nusanet-form" type="email" name="email" placeholder="Email")
                                  
                                    div(class="col-12 form-group")
                                        select#position(class="nusanet-form" name="position")
                                            option Personal Assistant
                                            option Account Manager
                                            option Network Engineer
                                            
                                    div(class="col-12 form-group")
                                        label(class="nusanet-form-label" for="attachment") Attach your CV (.doc .docx .pdf)
                                        input#attachment(type="file" name="attachment" class="nusanet-form form-control-file")
                                  
                                    div(class="col-12" style="margin-top:1rem;")
                                        input(class="nusa-button hoverable" type="submit" value="APPLY NOW")