extends layout-dark

block content
  div(style="background-color:#fff;margin-top:-100px;height:100px")
  
  .register-page
    .register-form-wrapper.col-12
      h4(style="text-align:center;") Contact Us
      h6(style="text-align:center;") We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. You can also send us an email, and we’ll answer within 24 hours.
      form(method='POST', class="register-form", action='/contact')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Full Name' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='phone') Phone:
            input#phone.form-control(type='phone', placeholder='021++++++' name='phone')
          div.form-group
            label(for='message') Message:
            textarea#message.form-control(rows="5" name="someTextArea")
          input.btn.btn-primary(class='nusa-button', type='submit',value='SUBMIT')
  div(class="nusanet-newsletter-wrapper")
      div(class="row align-items-center nusanet-newsletter")
        div(class="col-12 col-sm-6")
          div(class="row align-items-center")
            div(class="col-md-3")
              img(src="/images/newsletter-image2.png" width="100px")
            div(class="col-12 col-md-9 newsletter-tagline")
              h5 Stay informed
              p(style="opacity:0.6") Get the latest news and special promotion from Nusanet
        div(class="col-12 col-sm-6 text-center")
          form(method="post", action='/subscribe/add')
            div(class="row m-0")
              div(class="col-12 col-lg-8 p-0")
                input(type="email", class="nusanet-subscribe-form", id="email", name="email", placeholder="Email", style="width:100% !important;")
              div(class="col-12 col-lg-4 p-0")
                input(type="submit", id="submit", name="submit", class="nusa-button-blue nusanet-subscribe-button hoverable", value="SUBSCRIBE", style="width:100% !important;")