extends layout-dark

block content
  
    div(style="background-color:#fff;margin-top:-100px;height:100px")
      

    main
        div(class="main-header fiber-optic-header", style="padding:12.5rem 60px;background-image:url(/images/bg-corporate-fiber.jpg);background-size: 78%;background-position: right;background-repeat: no-repeat;background-color: #fff;color: #444 !important;")
            div(class="row")
                div(class="col-12")
                    
                    h1(class="black-text") Corporate Fiber Optic
                    p(style="color:rgba(0,0,0,0.7)") Fully managed connectivity, communications and cloud applications with dedicated fiber optic.
                    
        
        div(class="main-content fiber-optic-content")
            div(class="container")
                div(class="content-des text-center")
                    h1(class="blue-text") Package
                    
                    div(class="main-card")
                        div(class="row")
                            div(class="col-12 col-sm-6 col-lg-3")
                                div(class="card ")
                                    div(class="card-body")
                                        h4 Small
                                        div(class="card-body-content")
                                            span(class="bw-text blue-text") 5 Mbps
                                                div(class="nusanet-card-2-button text-center")
                                                    a(class="nusa-button-blue-rounded hoverable", id="link1", href="/corporate-fiber-optic/registration/Corporate FO Small") SUBSCRIBE
                                                    div(class="nusanet-card-2-item text-center")
                                                        p Download 5 Mbps
                                                        p Upload 5 Mbps
                                                        p Free 1 IP Public Static
                                                        p MRTG Monitor Tool
                                                        p 24/7 Helpdesk Support
                                        
                            div(class="col-12 col-sm-6 col-lg-3")
                                div(class="card ")
                                    div(class="card-body")
                                        h4 Medium
                                        div(class="card-body-content")
                                            span(class="bw-text blue-text") 10 Mbps
                                                div(class="nusanet-card-2-button text-center")
                                                    a(class="nusa-button-blue-rounded hoverable", id="link1", href="/corporate-fiber-optic/registration/Corporate FO Medium") SUBSCRIBE
                                                    div(class="nusanet-card-2-item text-center")
                                                        p Download 10 Mbps
                                                        p Upload 10 Mbps
                                                        p Free 1 IP Public Static
                                                        p MRTG Monitor Tool
                                                        p 24/7 Helpdesk Support
                                        
                            div(class="col-12 col-sm-6 col-lg-3")
                                div(class="card ")
                                    div(class="card-body")
                                        h4 Large
                                        div(class="card-body-content")
                                            span(class="bw-text blue-text") 50 Mbps
                                                div(class="nusanet-card-2-button text-center")
                                                    a(class="nusa-button-blue-rounded hoverable", id="link1", href="/corporate-fiber-optic/registration/Corporate FO Large") SUBSCRIBE
                                                    div(class="nusanet-card-2-item text-center")
                                                        p Download 50 Mbps
                                                        p Upload 50 Mbps
                                                        p Free 1 IP Public Static
                                                        p MRTG Monitor Tool
                                                        p 24/7 Helpdesk Support
                                        
                            div(class="col-12 col-sm-6 col-lg-3")
                                div(class="card ")
                                    div(class="card-body")
                                        h4 Extra-Large
                                        div(class="card-body-content")
                                            span(class="bw-text blue-text") 100 Mbps
                                                div(class="nusanet-card-2-button text-center")
                                                    a(class="nusa-button-blue-rounded hoverable", id="link1", href="/corporate-fiber-optic/registration/Corporate FO Extra Large") SUBSCRIBE
                                                    div(class="nusanet-card-2-item text-center")
                                                        p Download 100 Mbps
                                                        p Upload 100 Mbps
                                                        p Free 1 IP Public Static
                                                        p MRTG Monitor Tool
                                                        p 24/7 Helpdesk Support
                            
                    a(href="" class="package-contact-text") Contact Us for Other Package
                    
        div(class="main-content fiber-optic-content")
            div(class="container")
                div(class="content-des text-center")
                    h1(class="blue-text") Benefits
                    
                    div(class="row corporate-benefit")
                        div(class="col-6 col-lg-3 text-center")
                            img(src="/images/icon-benefit/reliable.png" )
                            h5 Reliability
                            p Fully redundant, self-healing IP architecture keeps your critical business applications up and running.
                            
                        div(class="col-6 col-lg-3 text-center")
                            img(src="/images/icon-benefit/guarantee-speed.png" )
                            h5 Guaranteed Speed
                            p Dedicated speeds from 2 Mbps up to 11 Mbps. Experience Internet, intranet and extranet access at the fastest speeds possible.
                            
                        div(class="col-6 col-lg-3 text-center")
                            img(src="/images/icon-benefit/guaranteed-bandwidth.png" )
                            h5 Guaranteed Bandwidth
                            p Enterprise-grade Internet to meet business data demands.
                            
                        div(class="col-6 col-lg-3 text-center")
                            img(src="/images/icon-benefit/get-connected.png" )
                            h5 Get Connected
                            p Dedicated Internet Access combines an IP network and partnerships with communications providers around the globe to provide worldwide Internet connectivity for your business or organization.
                          
        div(class="main-content fiber-optic-content")
            div(class="container")
                div(class="content-des")
                    h1(class="blue-text") Why Choose Fiber Optic
                    
                    div(class="row fiber-optic-benefit")
                        div(class="col-12 fiber-optic-benefit-border")
                            div(class="row")
                                div(class="col-12 col-md-6")
                                    div(class="row")
                                        div(class="col-12 fiber-optic-benefit-content")
                                            h5 Fiber optic transmission is faster
                                            p Fiber optic versus copper wire transmission can be boiled down to the speed of photons versus the speed of electrons. While fiber optic cables don’t travel at the speed of light, they come very close—only about 31 percent slower.
                                          
                                        div(class="col-12 fiber-optic-benefit-content")
                                            h5 Fiber optic transmission results in less attenuation
                                            p When traveling over a long distance, fiber optic cables experience less signal loss than copper cabling. This is called low attenuation. Copper cables can only transmit information up to 9,328 ft due to power loss, whereas fiber cables can travel between 984.2 ft to 24.8 miles.
                                            
                                div(class="col-12 col-md-6")
                                    div(class="row")
                                        div(class="col-12 fiber-optic-benefit-content")
                                            h5 Light cannot catch on fire
                                            p An added benefit of fiber optic cables is that they are not a fire hazard. This can also be attributed to the same reason that the cables do not produce EMI—there is no electric current traveling through the core.
                                          
                                        div(class="col-12 fiber-optic-benefit-content")
                                            h5 Fiber optic cables do not break as easily
                                            p This means that you will not have to worry about replacing them as frequently as copper wires. Even though the fiber is made of glass, copper wires are more prone to damage than fiber optic cables are.
              
        div(class="nusanet-newsletter-wrapper")
            div(class="row align-items-center nusanet-newsletter")
                div(class="col-12 col-sm-6")
                    div(class="row align-items-center")
                        div(class="col-md-3")
                            img(src="/images/newsletter-image2.png" width="100px")
                            
                        div(class="col-12 col-md-9 newsletter-tagline")
                            h5 Stay informed
                            p(style="opacity:0.6") Get the latest news and special promotion from Nusanet
                            
                div(class="col-12 col-sm-6 text-center")
                    form(method="post", action='/subscribe/add')
                        div(class="row m-0")
                            div(class="col-12 col-lg-8 p-0")
                                input(type="email", class="nusanet-subscribe-form", id="email", name="email", placeholder="Email", style="width:100% !important;")
                            
                            div(class="col-12 col-lg-4 p-0")
                                input(type="submit", id="submit", name="submit", class="nusa-button-blue nusanet-subscribe-button hoverable", value="SUBSCRIBE", style="width:100% !important;")