extends layout

block content
  div(class="main-wall", id="home")
    div(class="row")
      div(class="col-md-6 main-wall-tagline")
        h2 Internet Solution For Business, <br class="hide-mobile">Fast Internet speed that meet your needs and boost productivity
        p Get free advice from our experts
        a(href="contact", class="nusa-button-big hoverable") CONTACT US
      div(class="col-md-6 main-wall-illustration")
        img(src="/images/img-main-wall-nusanet-jakarta.png")
  div(class="fours")
    h3 What We provide for your internet connection
    //p Trusted by thousands of satisfied clients in Indonesia and we are always innovating to provide the best solution for you
    br
    br
    div(class="row solutions-list")
      div(class="col-md-12 row")
        div(class="col-md-3 col-6")
          img(src="/images/icon-speed.png")
          h5 Speed
          p Our fast internet is dedicated to your satisfaction, supported by the system and we are ready to provide a different experience.
        div(class="col-md-3 col-6")
          img(src="/images/icon-stable.png")
          h5 Stable
          p Fast internet is not enough, connectivity is one of our priorities. With a redundant connection, it will minimize downtime.
        div(class="col-md-3 col-6")
          img(src="/images/icon-secure.png")
          h5 Secure
          p We use the best DNS and email protection to provide additional protection against spam, fraud and phishing.
        div(class="col-md-3 col-6")
          img(src="/images/icon-support.png")
          h5 Support
          p We have a Support team that can help you if you have problems with your internet connection, and 24/7 Helpdesk ready to help.
  div(class="main-wall-card-wrapper")
    div(class="row")
      div(class="col-md-6 main-wall-card-l")
        img(src="/images/24-support-icon.png")
        h4 Get 24/7 Helpdesk Support
        p We’re here to help when you need us. Our 24/7 live chat support is ready to answer your questions. You can also send us an email, and we’ll answer within 24 hours.
        a(href="/support" style="color:#0eb04a;") Get Support
      div(class="col-md-6 main-wall-card-r")
        img(src="/images/internet-for-business-icon.png")
        h4 Most Reliable Internet For Business
        p Trusted by thousands of satisfied clients in Indonesia and we are always innovating our services to provide the best internet solution for your business.
        a(href="/contact" style="color:#0eb04a;") Learn More
  //div(class="solutions row", id="solutions", style="margin-right:0px;margin-left:0px;")
    div(class="col-md-6 solutions-illustration d-none d-md-block")
      img(src="./images/image-solutions-nusanet-bandung.png")
    div(class="col-md-6 solutions-tagline")
      h2 What We provide for your internet connection
      p Trusted by thousands of satisfied clients in Indonesia and we are always innovating to provide the best solution for you
      div(class="row solutions-list")
        div(class="col-md-11 row")
          div(class="col-md-3 col-6")
            img(src="https://jkt.nusa.net.id/wp-content/uploads/2015/11/speed2.png")
            h5 Speed
            p Our fast internet is dedicated to your satisfaction, supported by the system and we are ready to provide a different experience.
          div(class="col-md-3 col-6")
            img(src="https://jkt.nusa.net.id/wp-content/uploads/2015/11/stable3.png")
            h5 Stable
            p Fast internet is not enough, connectivity is one of our priorities. With a redundant connection, it will minimize downtime.
          div(class="col-md-3 col-6")
            img(src="https://jkt.nusa.net.id/wp-content/uploads/2015/11/secure2.png")
            h5 Secure
            p We use the best DNS and email protection to provide additional protection against spam, fraud and phishing.
          div(class="col-md-3 col-6")
            img(src="https://jkt.nusa.net.id/wp-content/uploads/2015/11/support3.png")
            h5 Support
            p We have a Support team that can help you if you have problems with your internet connection, and 24/7 Helpdesk ready to help you.
  
  div(class="customers-wrapper")
    div(class="customers")
      h3 Join with other great companies that rely on Nusanet
      div(class="row")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-jaco.png")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-danapaint.png")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-ciputra.png")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-suzuki.png")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-sheraton-hotel.png")
        div(class="col-md-2 col-6")
          img(src="/images/our-customer-astra.png")