extends layout-dark

block content

    main
        div(class="main-content registration-content grey-background")
            div(class="container")
                div(class="content-des text-center")
                    h4(style="color:#333;font-family:'Roboto';font-weight:300;margin-bottom:1rem;") Broadband Fiber Online Registration
                    
                div(class="row multistep justify-content-center" style="margin-bottom:2.5rem;")
                    div(class="col-xs-4 multistep-step complete")
                        div(class="text-center multistep-stepname") Coverage Area
                        div(class="progress")
                            div(class="progress-bar")
                        a(href="#" class="multistep-dot")
            
                    div(class="col-xs-4 multistep-step complete")
                        div(class="text-center multistep-stepname") Customer Data
                        div(class="progress") 
                            div(class="progress-bar")
                        a(href="#" class="multistep-dot")
            
                    div(class="col-xs-4 multistep-step current")
                        div(class="text-center multistep-stepname") Summary
                        div(class="progress")
                            div(class="progress-bar")
                        a(href="#" class="multistep-dot")
                                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="kecamatan" class="nusanet-form-label") Nama Lengkap - <span style="font-weight:300;">Full Name <span style="color:red !important;">*
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") John Doe
                                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="kecamatan" class="nusanet-form-label") No. KTP - <span style="font-weight:300;">ID No
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") -
                                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="kecamatan" class="nusanet-form-label") No. Telp. - <span style="font-weight:300;">Fixed Line
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") 021-12345678
                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="kecamatan" class="nusanet-form-label") No. HP - <span style="font-weight:300;">Mobile Phone <span style="color:red !important;">*
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") 081234567890
                                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="kecamatan" class="nusanet-form-label") Email - <span style="font-weight:300;">Email <span style="color:red !important;">*
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") john.doe@gmail.com
                                
                div(class="row justify-content-center" style="margin-bottom:1rem;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            label(for="wilayah" class="nusanet-form-label") Paket - <span style="font-weight:300;">Package <span style="color:red !important;">*
                            p(style="font-family:'Roboto';font-size:1rem;font-weight:300;") Start Up 1
                
                div(class="row justify-content-center" style="margin:1rem 0;")
                    div(class="col-12 col-md-6 col-lg-5")
                        div(class="form-group")
                            p(style="font-family:'Roboto';font-size:12px;font-weight:300;margin-top:1rem;") <input type="checkbox" class="form-check-input">Saya telah membaca dan menyetujui syarat dan ketentuan yang berlaku untuk berlangganan CBN Fiber Broadband.
                            p(style="font-family:'Roboto';font-size:12px;font-weight:300;margin-top:1rem;") I have read and agree to the terms and conditions apply in subscribing CBN Fiber Broadband 
                            
                div(class="row justify-content-center" style="margin:1rem 0;")
                    div(class="col-12 col-md-6 col-lg-5 text-center")
                        a(href="" class="nusa-button-grey hoverable") PREVIOUS
                        span &nbsp;&nbsp;
                        a(href="" class="nusa-button hoverable") SUBMIT